<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.soultabcaregiver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".utils.AppController"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/main_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/main_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".sendbird_chat.GroupDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.shopping.ShoppingCategoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.docter.SocialActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "sendbird://” -->
                <data android:scheme="sendbird" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.login_module.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main_screen.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:autoRemoveFromRecents="true"/>
        <activity
            android:name=".activity.login_module.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login_module.OTPVarificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login_module.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.alert.activity.CaregiverListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.docter.AddDoctorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.docter.DoctorCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.docter.DocorDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.docter.UpdateDoctorAppointmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.reminder.AddReminderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.reminder.AddSnoozeTime"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sendbird_calls.IncomingCallActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/CallTheme"
            tools:ignore="LockedOrientationActivity" />


        <activity
            android:name=".sendbird_calls.VideoCallActivity"
            android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/CallTheme"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".sendbird_calls.VoiceCallActivity"
            android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/CallTheme"
            tools:ignore="LockedOrientationActivity" />

        <service
            android:name=".sendbird_calls.SendbirdCallService"
            android:stopWithTask="false" />


        <activity
            android:name=".twillovoicecall.VoiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity android:name=".sendbird_chat.utils.PhotoViewerActivity" />
        <activity android:name=".sendbird_chat.utils.MediaPlayerActivity" />
        <activity
            android:name=".sendbird_chat.NewMessageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="user"
            android:theme="@style/DialogTheme" />
        <activity android:name=".sendbird_group_call.GroupCallActivity" />
        <activity
            android:name=".sendbird_group_call.IncomingGroupCallActivity"
            android:launchMode="singleTask"
            android:showOnLockScreen="true"
            android:excludeFromRecents="true"
            android:showWhenLocked="true" />

        <service
            android:name=".twillovoicecall.IncomingCallNotificationService"
            android:enabled="true">
            <intent-filter>
                <action android:name="ACTION_ACCEPT" />
                <action android:name="ACTION_REJECT" />
            </intent-filter>
        </service>
        <service
            android:name=".sendbird_group_call.SendBirdGroupCallService"
            android:stopWithTask="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


        <!--        <service android:name=".FireBaseMessaging.CustomFireBaseMessaging">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
        <!--            </intent-filter>-->
        <!--        </service>-->


    </application>

</manifest>